<div
  class="hotel-item"
  [ngClass]="{'active': selected ? hotel === selected : false}"
  (click)="chooseHotel()">
  <div class="hotel-info">
    <div class="hotel-photo">
      <img [src]="hotel.photos" alt="hotel photo">
    </div>
    <div class="hotel-description">
      <h3 class="hotel-name" [title]="hotel.name">{{ hotel.name }}</h3>
      <p class="hotel-location-item distance">{{ hotel.location.distance }} meters from you</p>
      <p class="hotel-location-item"><strong>address:</strong> {{ hotel.location.address }}</p>
      <p class="hotel-location-item"><strong>state:</strong> {{ hotel.location.state }}</p>
    </div>
  </div>
  <button type="button" class="book">book</button>
</div>
